@use 'base';

.nav-container {
    .list {
        display: flex;
        justify-content: center;
    }

    a {
        color: base.$color;
        margin-right: 30px;
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

