$font: 'Roboto';
$fontColor: #FFFFFF;
$fontColorTwo: #000000;
$themeOne: #716b94;
$themeTwo: #663399;
$themeThree: #14044d;
$themeFour: #79e7e7;
$themeFive: #48cbd9;

* {
    margin: 0;
    padding: 0;
}

body {
    color: $fontColor;
    font-family: $font;
}