@use 'base';

.nav-container {
    align-items: center;
    display: flex;
    padding: 10px 20px;
    position: relative;

    .fab {
        font-size: 20px;
    }

    .list-container {
        margin-left: auto;
    }

    .list {
        display: flex;
    }

    a {
        color: base.$fontColorTwo;
        margin-right: 30px;
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    .icon-container {
        
    }

    .icon {
        background-color: base.$fontColorTwo;
        border-radius: 50%;
        height: 24px;
        width: 24px;
    }
}

